<div class="listWrapper">
  @if (products.length) {
    <ul [ngClass]="{'productList':true, 'editMode':isProductInEditMode}">
      @for (product of products;track product.id) {
        <li>
          <app-product-card [product]="product"
                            [isEditButtonDisabled]="isProductInEditMode"
                            (productRemoved)="removeProduct($event)"
                            (editModeToggled)="toggleEditMode()"
                            (productInEditMode)="scrollIntoView($event)">
          </app-product-card>
        </li>
      }
    </ul>
  } @else {
    <div class="nothingFound">Nothing found</div>
  }
</div>
