<app-filter-form (tagChecked)="filterProducts($event)"></app-filter-form>
<div class="list">
  @if (!filteredProducts?.length) {
    <div>Nothing found</div>
  } @else {
    <ul>
      @for (product of filteredProducts;track product.id) {
        <li>
          <div class="card">
            <h3>{{ product.name }}</h3>
            <p>{{ product.price | currency }}</p>
            @if (product.tags) {
              @for (tag of product.tags;track tag.id) {
                <p>{{ tag.name }}</p>
              }
            }
            <button (click)="showDetail(product.id)">show details</button>
            <button (click)="deleteProduct(product.id)">Delete {{product.name}}</button>
          </div>
        </li>
      }
    </ul>
  }
</div>
