<app-filter-form (tagChecked)="filterProducts($event)" [hidden]="shouldHideFilterForm"></app-filter-form>

<a routerLink="/product-list/create-product">Add new product</a>

<div class="list">
  @if (!filteredProducts?.length) {
    <div>Nothing found</div>
  } @else {
    <ul>
      @for (product of filteredProducts;track product.id) {
        <li>
          <app-product-card (productDeleted)="deleteProduct($event)" [product]="product"
                            (editModeToggled)="toggleEditMode()"
                            [isEditButtonDisabled]="shouldHideFilterForm"></app-product-card>
        </li>
      }
    </ul>
  }
</div>
