<div class="card">
  @if (isEditMode) {
    <app-product-form [product]="product" [submitAction]="onSaveChanges.bind(this)"></app-product-form>
  } @else {
    <h3>{{ product.name }}</h3>
    <p>{{ product.price | currency }}</p>
    @if (product.tags) {
      <div class="tags">
        @for (tag of product.tags;track tag.id) {
          <p [appTagBackground]="getTagBackground(tag.name)" class="tag">{{ tag.name }}</p>
        }
      </div>
    }
    <button (click)="showDetail(product.id)">show details</button>
    <button (click)="removeProduct(product.id)">Delete {{ product.name }}</button>
    <button (click)="toggleEditForm()" [disabled]="isEditButtonDisabled">Edit {{ product.name }}</button>
  }
</div>
