.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  height: 100%;
  font-size: max(14px, 1.2vw);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  h3 {
    font-weight: bold;
  }

  .price {
    font-style: italic;
  }

  .tags {
    margin: 0.5rem 0;
    display: flex;
    column-gap: 0.75rem;
    flex-wrap: wrap;
    width: max(150px, 70%);

    .tag {
      margin: 0.5rem 0;
      padding: 0.5rem;
      border-radius: 20px;
      flex: 0.5 1 auto;
      cursor: pointer;
      position: relative;
    }

    .tag::before {
      content: '#';
      margin-right: 3px;
    }
  }

  .buttons {
    display: flex;
    gap: 0.25rem 1rem;
    flex-wrap: wrap;

    button {
      flex: 0 1 45%;
    }
  }
}
