<div class="search">
  <form>
    <label>no tags
      <input type="checkbox" name="noTags" value="noTags" (change)="onCheckChange($event)" [checked]="isNoTags">
    </label>
    @for (tag of tags;track tag.id) {
      <label>{{ tag.name }}
        <input type="checkbox" [name]="tag.name" [value]="tag.name"
               [disabled]="isNoTags" [checked]="isSelected(tag.name)"
               (change)="onCheckChange($event)">
      </label>
    }
  </form>
  <button type="button" [disabled]="!isAnySelected()" (click)="resetFilterForm()">Reset filters</button>
</div>
