.formWrapper {
  margin-bottom: 1rem;
  padding: 1rem;

  form {
    font-size: max(14px, 1.2vw);
    color: black;
    width: 50%;

    fieldset {
      padding: 1rem;
      display: flex;
      column-gap: 1.5rem;
      row-gap: 0.5rem;
      flex-wrap: wrap;


      label {
        display: flex;
        align-items: center;

        span {
          flex: 1 1 auto;
        }

        input {
          height: max(14px, 1vw);
          width: max(14px, 1vw);
          flex: 1 1 auto;
        }
      }
    }
  }
}

@media (max-width: 424px) {
  .formWrapper {
    form {
      fieldset {
        flex-direction: column;

        label {
          span {
            width: 4rem;
          }
        }
      }
    }
  }
}
