<div class="formWrapper">
  <form>
    <fieldset>
      <legend>Filter by tags</legend>
      <label>
        <span>no tags</span>
        <input type="checkbox" name="noTags" value="noTags" (change)="onCheckChange($event)" [checked]="isNoTags">
      </label>
      @for (tag of tags;track tag.id) {
        <label>
          <span>{{ tag.name }}</span>
          <input type="checkbox" [name]="tag.name" [value]="tag.name"
                 [disabled]="isNoTags" [checked]="isSelected(tag.name)"
                 (change)="onCheckChange($event)">
        </label>
      }
    </fieldset>
  </form>
  <button type="button" class="formButton" [disabled]="!isAnySelected()" (click)="resetFilterForm()">Reset filters</button>
</div>
