<app-filter-form [hidden]="shouldHideFilterForm || !shouldHideTagList || !shouldHideTagForm" (tagChecked)="filterProducts($event)"></app-filter-form>

<app-tag-form [hidden]="shouldHideTagForm" [tag]="newTag" [submitAction]="onAddTag.bind(this)"
              (closedForm)="showTagForm()"></app-tag-form>

<app-tag-list [hidden]="shouldHideTagList || !shouldHideTagForm"></app-tag-list>

<button (click)="showEditTagForm()" [hidden]="!shouldHideTagForm || shouldHideFilterForm">{{shouldHideTagList ? 'Show list of tags' : 'Hide list of tags'}}</button>
<button (click)="showTagForm()" [hidden]="!shouldHideTagForm || shouldHideFilterForm">Create New Tag</button>

<a routerLink="/product-list/create-product" [hidden]="!shouldHideTagForm || !shouldHideTagList || shouldHideFilterForm">Add new product</a>

<app-product-list [products]="filteredProducts" (productRemoved)="removeProduct($event)"
                  [(isProductInEditMode)]="shouldHideFilterForm"
                  [hidden]="!shouldHideTagList || !shouldHideTagForm"></app-product-list>
