<app-filter-form
  [hidden]="shouldHideFilterForm ||
  !shouldHideTagList ||
  !shouldHideTagForm"
  (tagChecked)="filterProducts($event)">
</app-filter-form>

<app-tag-form
  [hidden]="shouldHideTagForm"
  [tag]="newTag"
  [submitAction]="onAddTag.bind(this)"
  (closedForm)="showTagForm()">
</app-tag-form>

<app-tag-list
  [hidden]="shouldHideTagList ||
  !shouldHideTagForm">
</app-tag-list>

<button
  [hidden]="!shouldHideTagForm ||
  shouldHideFilterForm"
  (click)="showEditTagForm()">
  {{ shouldHideTagList ? 'Show tag list' : 'Hide tag list' }}
</button>

<button
  [hidden]="!shouldHideTagForm ||
  shouldHideFilterForm"
  (click)="showTagForm()">
  Create new tag
</button>

<a routerLink="/product-list/create-product"
   [hidden]="!shouldHideTagForm ||
   !shouldHideTagList ||
   shouldHideFilterForm">
  Create new product
</a>

<app-product-list
  [products]="filteredProducts"
  [hidden]="!shouldHideTagList ||
  !shouldHideTagForm"
  (productRemoved)="removeProduct($event)"
  [(isProductInEditMode)]="shouldHideFilterForm">
</app-product-list>
