<form class="form" (ngSubmit)="onSubmit()" #tagForm='ngForm'>
  <label class="label">Name:
    <input class="input" type="text" [(ngModel)]="tag.name" name="name" required minlength="2" maxlength="10" #name='ngModel'
           [appTagNameValidator]="tag.name">
  </label>
  @if (name.invalid && (name.dirty || name.touched)) {
    <div class="error">
      @if (name.errors?.['required']) {
        <div>
          ! Name is required
        </div>
      }
      @if (name.errors?.['minlength']) {
        <div>
          ! Name length is from 2 to 10
        </div>
      }
      @if (name.errors?.['tagNameExists']) {
        <div>
          ! Name is used
        </div>
      }
    </div>
  }
  <label class="label">Background Color
    <input class="input color" type="color" [(ngModel)]="tag.backgroundColor" name="color" required>
  </label>
  <button class="formButton" type="submit" [disabled]="!tagForm.form.valid">Submit</button>
  <button class="formButton" type="button" (click)="closeForm()">Close form</button>
</form>
