<form (ngSubmit)="onSubmit()" #tagForm='ngForm'>
  <label>Name:
    <input type="text" [(ngModel)]="tag.name" name="name" required #name='ngModel' [appTagNameValidator]="tag.name">
  </label>
  <div [hidden]="name.valid || (name.pristine && name.untouched)">
    Name is required
  </div>
  <label>Background Color
    <input type="color" [(ngModel)]="tag.backgroundColor" name="color" required #color='ngModel'>
  </label>
  <div [hidden]="color.valid || (color.pristine && color.untouched)">
    Color is required
  </div>
  <button type="submit" [disabled]="!tagForm.form.valid">Submit</button>
  <button type="button" (click)="closeForm()">Close form</button>
</form>
