@import 'app/styles/reset';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.formButton {
  padding: 0.75rem 1rem;
  font-size: max(14px, 1.2vw);
  background-color: #B1A296;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  transition: background-color 0.5s;
  margin-top: 0.5rem;
}

.formButton:hover {
  background-color: #918578;
  cursor: pointer;
}

.formButton:disabled {
  color: gray;
}
