@import 'app/styles/reset';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form {
  background-color: #938E94;
  padding: 0.75rem 1rem;
  margin: 0 auto;
  width: 60%;
  font-size: max(14px, 1.2vw);
  color: gainsboro;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  .label {
    display: block;
    padding: 0.5rem;
    position: relative;

    .input, .select {
      display: block;
      padding: 0.5rem;
      border-radius: 15px;
      width: max(150px, 70%);
      border: none;
      font-size: max(12px, 1vw);
      margin-top: 0.5rem;
    }
  }

  .error {
    border: 1px solid #f5a2a2;
    padding: 0.5rem 0 0.5rem 0.5rem;
    color: #f5a2a2;
    font-weight: bold;
    width: max(150px, 70%);
    border-radius: 15px;
    margin-left: 7.2px;
  }
}

.formButton {
  padding: 0.75rem 1rem;
  font-size: max(14px, 1.2vw);
  background-color: #B1A296;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  transition: background-color 0.5s;
  margin-top: 0.5rem;
}

.formButton:hover {
  background-color: #918578;
  cursor: pointer;
  font-weight: 600;
}

.formButton:disabled {
  color: gray;
}
