<form (ngSubmit)="onSubmit()" #productForm='ngForm'>
  <label>Name:
    <input type="text" [(ngModel)]="product.name" name="name" minlength="2" maxlength="20" required #name='ngModel'>
  </label>
  @if (name.dirty || name.touched) {
    <div>
      Maximum length is 20 characters
    </div>
  }
  @if (name.invalid && (name.dirty || name.touched)) {
    <div>
      @if (name.errors?.['required']) {
        <div>
          Name is required
        </div>
      }
      @if (name.errors?.['minlength']) {
        <div>
          Name must contain at least 2 characters and no more than 20 characters
        </div>
      }
    </div>
  }
  <label>Description (optional):
    <input [(ngModel)]="product.description" maxlength="100" type="text" name="description" #description='ngModel'>
  </label>
  @if (description.dirty || description.touched) {
    <div>
      Maximum length is 100 characters
    </div>
  }
  <label>Price:
    <input type="number" name="price" min="1" max="10000" [(ngModel)]="product.price" #price='ngModel'>
  </label>
  @if (price.invalid && (price.dirty || price.touched)) {
    <div>
      Price should be from 1 to 10,000
    </div>
  }
  <label>Tags (optional):
    <select (change)="addTag($event)" #tagSelect>
      @if (tags.length) {
        <option value="-1" disabled selected>Select tag</option>
      } @else {
        <option value="-1" disabled selected>No available tags</option>
      }
      @for (tag of tags;track tag.id) {
        <option value="{{tag.name}}" [disabled]="getIsDisabled(tag.name)">{{ tag.name }}</option>
      }
    </select>
    @if (selectedTags.length) {
      <div>Selected Tags:
        @for (tagName of selectedTags;track tagName) {
          <p [style.background-color]="getTagBackground(tagName)" (click)="removeTag(tagName)">x {{ tagName }}</p>
        }
      </div>
    }
  </label>
  <button class="formButton" type="submit" [disabled]="!productForm.form.valid">Submit</button>
</form>
